.pio
.vscode
bin/*
bin/noota/*
!bin/noota/README
bin/withota/*
!bin/withota/README
bin/nootanodisp/*
!bin/nootanodisp/README
bin/withotanodisp/*
!bin/withotanodisp/README
data/config.json
include/webh/*
!include/webh/README
scripts/__pycache__/*
scripts/htmlmin/__pycache__/*
scripts/htmlmin/python3html/__pycache__/*
unpacked_fs/*
partition_table_from_flash.bin
RadioESP32.code-workspace
